{% extends 'pages/base.html' %}
{% load static %}

{% block content %}
    <div class="container">
    <div class="config-container">
        <h2>Airport Simulation Configuration</h2>
        <p>Please define the airport parameters below to begin a new traffic management simulation.</p>
        
        <!--Post form to send to backend the input parameters
        Form performs its own checks, also checked in backend-->
        <form action="{% url 'home' %}" method="POST" id="config-form">
            {% csrf_token %}
            
            <div class="form-section">
                <h3>Flow Parameters</h3>
                <div class="form-group">
                    <label for="inbound_flow">Inbound Flights (per hour):</label>
                    <input type="number" id="inbound_flow" name="inbound_flow" min="0" required placeholder="e.g., 15">
                </div>
                <div class="form-group">
                    <label for="outbound_flow">Outbound Flights (per hour):</label>
                    <input type="number" id="outbound_flow" name="outbound_flow" min="0" required placeholder="e.g., 15">
                </div>
            </div>

            <!--Section for number of runways-->
            <div class="form-section">
                <h3>Runway Configuration (Max 10 Runways Total)</h3>
                <div class="form-group">
                    <label for="num_runways_mixed">Number of Mixed Runways:</label>
                    <input type="number" id="num_runways_mixed" name="num_runways_mixed" min="0" max="10" required placeholder="e.g., 2">
                </div>
                <div class="form-group">
                    <label for="num_runways_to">Number of Take-Off Runways:</label>
                    <input type="number" id="num_runways_to" name="num_runways_to" min="0" max="10" required placeholder="e.g., 2">
                </div>
                <div class="form-group">
                    <label for="num_runways_la">Number of Landing Runways:</label>
                    <input type="number" id="num_runways_la" name="num_runways_la" min="0" max="10" required placeholder="e.g., 2">
                </div>
            </div>
            <div class="form-section">
                <h3>Extra Options</h3>
                
                <div class="form-group">
                    <label for="max_wait">Max Wait Time Before Take-Off Cancelled(mins):</label>
                    <input type="number" id="max_wait" name="max_wait" min="1" required placeholder="e.g., 30">
                </div>

                
                <div class="form-group checkbox-group">
                    <input type="checkbox" id="random_events" name="random_events">
                    <label for="random_events">Enable Random Events For Aircraft (Mechanical Failures, Passenger Sickness etc)</label>
                </div>
            </div>

            <div id="error-message" class="error-message" style="display: none;"></div>

            <button type="submit" class="btn-submit">Start New Simulation</button>
        </form>
    </div>
    <!--Validate using the javascrpit page-->
    <script src="{% static 'js/validation.js' %}"></script>
</div>

{% endblock %}