{% extends 'pages/base.html' %}

{% block content %}
    
<h2>Active Simulation</h2>
    

<div class="runwayscontainer">
    {% for x in runway_range %}
    <div>
    <table>
        <tr>
            <td> Runway {{x}}</td>
            <td> Callsign</td>
        </tr>
    </table>
    </div>
    {% endfor %}

</div>


<div class="simulationcontainer">
  <div>
    <table id="takeoffTable">
        <caption>Take-Off Queue</caption>
        <tr>
            <th>Callsign</th>
            <th>Operator</th>
            <th>Destination</th>
            <th>Expected Departure Time</th>

        </tr>
        <tbody>
        {% for x in takeoffQ %}
        <tr>
            <td>{{x.callsign}}</td>
            <td>{{x.operator}}</td>
            <td>{{x.destination}}</td>
            <td>{{x.scheduledDeparture}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
  </div>
  <div>
    <table id="holdingpatternTable">
        <caption>Holding pattern</caption>
        <tr>
            <th>Callsign</th>
            <th>Operator</th>
            <th>Origin</th>
            <th>Expected Arrival Time</th>
            <th>Altitude</th>
            <th>Fuel Remaining</th>
            <th>Emergency Status</th>
        </tr>
        <tbody>
        {% for x in holdingpattern %}
        <tr>
            <td>{{x.callsign}}</td>
            <td>{{x.operator}}</td>
            <td>{{x.origin}}</td>
            <td>{{x.scheduledArrival}}</td>
            <td>{{x.altitude}}</td>
            <td>{{x.fuelRemaining}}</td>
            <td>{{x.emergencyStatus}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
  </div>
</div>



<script>
const takeoffTable = document.getElementById("takeoffTable");
const holdingpattern = document.getElementById("holdingpatternTable");
let lastUpdate = 0;

if(typeof(EventSource) !== "undefined") {

  var source = new EventSource("/stream/"); 
  source.onmessage = function(event) {
    //x.innerHTML += event.data + "<br>";
    const now = new Date().getTime();
    if (now - lastUpdate < 25) return; // Throttle updates to at most 40FPS
    lastUpdate = now;
    try {
      //Delete all existing rows
      while (takeoffTable.rows.length > 1) {
          takeoffTable.deleteRow(1);
      }

      while (holdingpattern.rows.length > 1) {
          holdingpattern.deleteRow(1);
      }
      var payload = JSON.parse(event.data);
      //For each flight in json
      for(let i = 0; i < payload.length; i++){
        let flight = payload[i];

        //If flight has a scheduled departure put it in takeoffTable
        if(flight.scheduled_departure != null){
          var row =takeoffTable.insertRow(-1);
          var c0 = row.insertCell(0);
          var c1 = row.insertCell(1);
          var c2 = row.insertCell(2);
          var c3 = row.insertCell(3);

          c0.innerText = flight.callsign
          c1.innerText = flight.operator
          c2.innerText = flight.destination
          c3.innerText = flight.queue_entry_time

        }else{
          //Otherwise put it in landing Queue
          var row =holdingpattern.insertRow(-1);
          var c0 = row.insertCell(0);
          var c1 = row.insertCell(1);
          var c2 = row.insertCell(2);
          var c3 = row.insertCell(3);
          var c4 = row.insertCell(4);
          var c5 = row.insertCell(5);
          var c6 = row.insertCell(6);


          c0.innerText = flight.callsign
          c1.innerText = flight.operator
          c2.innerText = flight.origin
          c3.innerText = flight.queue_entry_time
          c4.innerText = flight.altitude
          c5.innerText = flight.fuel_mins
          c6.innerText = flight.emergency_status

        }

      }


    } catch (e){
      console.error("Error in JSON parsing:",e,event.data)
    }

  };
} else {
  holdingpattern.innerHTML = "SSE Error";
}
</script>

    
{% endblock %}