{% extends 'pages/base.html' %}

{% block content %}
    
    
<button type="button" class="collapsible">Runways</button>

<div class="runwayscontainer">
    {% for x in runway_range %}
    <div>
    <table>
        <tr>
            <td> Runway {{x}}</td>
            <td> callsign</td>
        </tr>
    </table>
    </div>
    {% endfor %}

</div>
  <div>
    <table id="runwayTestTable" class="individualTables">
        <caption>Runways</caption>
        <tr>
            <th>Callsign</th>
            <th>Runway</th>
        </tr>
        <tbody>
        {% for x in runwayTest %}
        <tr>
            <td>{{x.callsign}}</td>
            <td>{{x.assigned_runway}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
  </div>

<button type="button" class="collapsible">Flights in Simulation</button>
<div class="simulationcontainer">
  <div>
    <table id="takeoffTable" class="individualTables">
        <caption>Take-Off Queue</caption>
        <tr>
            <th>Callsign</th>
            <th>Operator</th>
            <th>Destination</th>
            <th>Expected Departure Time</th>

        </tr>
        <tbody>
        {% for x in takeoffQ %}
        <tr>
            <td>{{x.callsign}}</td>
            <td>{{x.operator}}</td>
            <td>{{x.destination}}</td>
            <td>{{x.scheduledDeparture}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
  </div>
  <div>
    <table id="holdingpatternTable" class="individualTables">
        <caption>Holding pattern</caption>
        <tr>
            <th>Callsign</th>
            <th>Operator</th>
            <th>Origin</th>
            <th>Expected Arrival Time</th>
            <th>Altitude</th>
            <th>Fuel Remaining</th>
            <th>Emergency Status</th>
        </tr>
        <tbody>
        {% for x in holdingpattern %}
        <tr>
            <td>{{x.callsign}}</td>
            <td>{{x.operator}}</td>
            <td>{{x.origin}}</td>
            <td>{{x.scheduledArrival}}</td>
            <td>{{x.altitude}}</td>
            <td>{{x.fuelRemaining}}</td>
            <td>{{x.emergencyStatus}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
  </div>
</div>

<button type="button" class="collapsible">Schedule</button>

<div class="simulationcontainer">
  <div>
    <table id="takeoffScheduleTable" class="individualTables">
        <caption>Take-Off Schedule</caption>
        <tr>
            <th>Callsign</th>
            <th>Operator</th>
            <th>Destination</th>
            <th>Expected Departure Time</th>

        </tr>
        <tbody>
        {% for x in takeoffSchedule %}
        <tr>
            <td>{{x.callsign}}</td>
            <td>{{x.operator}}</td>
            <td>{{x.destination}}</td>
            <td>{{x.scheduledDeparture}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
  </div>
  <div>
    <table id="landingScheduleTable" class="individualTables">
        <caption>Landing Schedule</caption>
        <tr>
            <th>Callsign</th>
            <th>Operator</th>
            <th>Origin</th>
            <th>Expected Arrival Time</th>
            <th>Altitude</th>
            <th>Fuel Remaining</th>
            <th>Emergency Status</th>
        </tr>
        <tbody>
        {% for x in landingSchedule %}
        <tr>
            <td>{{x.callsign}}</td>
            <td>{{x.operator}}</td>
            <td>{{x.origin}}</td>
            <td>{{x.scheduledArrival}}</td>
            <td>{{x.altitude}}</td>
            <td>{{x.fuelRemaining}}</td>
            <td>{{x.emergencyStatus}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
  </div>
</div>


<!--Recently Cancelled, Diverted, Landed or taken off flights-->
<button type="button" class="collapsible">Recently Departed, Landed, Cancelled or Diverted</button>

<div class="recentcontainer">
  <div>
    <table id="departedTable" class="individualTables">
        <caption>Recent Departures</caption>
        <tr>
            <th>Callsign</th>
            <th>Operator</th>
            <th>Destination</th>
            <th>Departure Time</th>

        </tr>
        <tbody>
        {% for x in departed %}
        <tr>
            <td>{{x.callsign}}</td>
            <td>{{x.operator}}</td>
            <td>{{x.destination}}</td>
            <td>{{x.scheduledDeparture}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
  </div>
  <div>
    <table id="landedTable" class="individualTables">
        <caption>Recently Landed</caption>
        <tr>
            <th>Callsign</th>
            <th>Operator</th>
            <th>Origin</th>
            <th>Arrival Time</th>
        </tr>
        <tbody>
        {% for x in landed %}
        <tr>
            <td>{{x.callsign}}</td>
            <td>{{x.operator}}</td>
            <td>{{x.origin}}</td>
            <td>{{x.scheduledArrival}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
  </div>
    <div>
    <table id="cancelledTable" class="individualTables">
        <caption>Recently Cancelled</caption>
        <tr>
            <th>Callsign</th>
            <th>Operator</th>
            <th>Destination</th>
            <th>Previously Expected Departure Time</th>

        </tr>
        <tbody>
        {% for x in cancelled %}
        <tr>
            <td>{{x.callsign}}</td>
            <td>{{x.operator}}</td>
            <td>{{x.destination}}</td>
            <td>{{x.scheduledDeparture}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
  </div>
  <div>
    <table id="divertedTable" class="individualTables">
        <caption>Recently Diverted</caption>
        <tr>
            <th>Callsign</th>
            <th>Operator</th>
            <th>Origin</th>
            <th>Previously Expected Arrival Time</th>
        </tr>
        <tbody>
        {% for x in diverted %}
        <tr>
            <td>{{x.callsign}}</td>
            <td>{{x.operator}}</td>
            <td>{{x.origin}}</td>
            <td>{{x.scheduledArrival}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
  </div>
</div>



<script>

//DATA STREAM
const takeoffQ = document.getElementById("takeoffTable");
const holdingpattern = document.getElementById("holdingpatternTable");
const takeoffSchedule = document.getElementById("takeoffScheduleTable");
const landingSchedule = document.getElementById("landingScheduleTable");
const runwayTest = document.getElementById("runwayTestTable");

const departed = document.getElementById("departedTable");
const landed = document.getElementById("landedTable");
const cancelled = document.getElementById("cancelledTable");
const diverted = document.getElementById("divertedTable");

let lastUpdate = 0;

if(typeof(EventSource) !== "undefined") {

  var source = new EventSource("/stream/"); 
  source.onmessage = function(event) {
    //x.innerHTML += event.data + "<br>";
    const now = new Date().getTime();
    if (now - lastUpdate < 25) return; // Throttle updates to at most 40FPS
    lastUpdate = now;
    try {
      //Delete all existing rows
      while (takeoffQ.rows.length > 1) {
          takeoffQ.deleteRow(1);
      }

      while (holdingpattern.rows.length > 1) {
          holdingpattern.deleteRow(1);
      }

      while (takeoffSchedule.rows.length > 1) {
          takeoffSchedule.deleteRow(1);
      }

      while (landingSchedule.rows.length > 1) {
          landingSchedule.deleteRow(1);
      }
      while (runwayTest.rows.length > 1) {
          runwayTest.deleteRow(1);
      }

      while (departed.rows.length > 1) {
          departed.deleteRow(1);
      }

      while (landed.rows.length > 1) {
          landed.deleteRow(1);
      }

      while (cancelled.rows.length > 1) {
          cancelled.deleteRow(1);
      }

      while (diverted.rows.length > 1) {
          diverted.deleteRow(1);
      }

      var payload = JSON.parse(event.data);
      //For each flight in json
      for(let i = 0; i < payload.length; i++){
        let flight = payload[i];

        //If flight is in takeoff zone put it in takeoffQ
        if(flight.zone_status == "QUEUE_TO"){
          var row =takeoffQ.insertRow(-1);
          var c0 = row.insertCell(0);
          var c1 = row.insertCell(1);
          var c2 = row.insertCell(2);
          var c3 = row.insertCell(3);

          c0.innerText = flight.callsign
          c1.innerText = flight.operator
          c2.innerText = flight.destination
          c3.innerText = flight.queue_entry_time

        }else if(flight.zone_status == "QUEUE_LA"){
            //If flight in landing zone put in holding pattern
          var row =holdingpattern.insertRow(-1);
          var c0 = row.insertCell(0);
          var c1 = row.insertCell(1);
          var c2 = row.insertCell(2);
          var c3 = row.insertCell(3);
          var c4 = row.insertCell(4);
          var c5 = row.insertCell(5);
          var c6 = row.insertCell(6);


          c0.innerText = flight.callsign
          c1.innerText = flight.operator
          c2.innerText = flight.origin
          c3.innerText = flight.queue_entry_time
          c4.innerText = flight.altitude
          c5.innerText = flight.fuel_mins
          c6.innerText = flight.emergency_status

        } else if(flight.scheduled_departure != null && flight.zone_status == "SCHEDULED"){
            //If scheduled and no departure, put in takeoff schedule
          var row =takeoffSchedule.insertRow(-1);
          var c0 = row.insertCell(0);
          var c1 = row.insertCell(1);
          var c2 = row.insertCell(2);
          var c3 = row.insertCell(3);

          c0.innerText = flight.callsign
          c1.innerText = flight.operator
          c2.innerText = flight.destination
          c3.innerText = flight.scheduled_departure

        }else if (flight.zone_status == "SCHEDULED"){
          //Otherwise put it in landing schedule
          var row =landingSchedule.insertRow(-1);
          var c0 = row.insertCell(0);
          var c1 = row.insertCell(1);
          var c2 = row.insertCell(2);
          var c3 = row.insertCell(3);
          var c4 = row.insertCell(4);
          var c5 = row.insertCell(5);
          var c6 = row.insertCell(6);


          c0.innerText = flight.callsign
          c1.innerText = flight.operator
          c2.innerText = flight.origin
          c3.innerText = flight.scheduled_arrival
          c4.innerText = flight.altitude
          c5.innerText = flight.fuel_mins
          c6.innerText = flight.emergency_status

        }else if(flight.zone_status == "RUNWAY_TO" || flight.zone_status == "RUNWAY_LA") {
          var row =runwayTest.insertRow(-1);
          var c0 = row.insertCell(0);
          var c1 = row.insertCell(1);

          c0.innerText = flight.callsign
          c1.innerText = flight.assigned_runway

        }else if(flight.zone_status == "DEPARTED"){
          //Departed table
          var row =departed.insertRow(-1);
          var c0 = row.insertCell(0);
          var c1 = row.insertCell(1);
          var c2 = row.insertCell(2);
          var c3 = row.insertCell(3);

          c0.innerText = flight.callsign
          c1.innerText = flight.operator
          c2.innerText = flight.destination
          c3.innerText = flight.queue_entry_time

        }else if(flight.zone_status == "LANDED"){
            //Landed table
          var row =landed.insertRow(-1);
          var c0 = row.insertCell(0);
          var c1 = row.insertCell(1);
          var c2 = row.insertCell(2);
          var c3 = row.insertCell(3);

          c0.innerText = flight.callsign
          c1.innerText = flight.operator
          c2.innerText = flight.origin
          c3.innerText = flight.queue_entry_time


        } else if(flight.zone_status == "CANCELLED"){
            //If cancelled, cancelled table
          var row =cancelled.insertRow(-1);
          var c0 = row.insertCell(0);
          var c1 = row.insertCell(1);
          var c2 = row.insertCell(2);
          var c3 = row.insertCell(3);

          c0.innerText = flight.callsign
          c1.innerText = flight.operator
          c2.innerText = flight.destination
          c3.innerText = flight.queue_entry_time

        }else if (flight.zone_status == "DIVERTED"){
          //Diverted table
          var row =diverted.insertRow(-1);
          var c0 = row.insertCell(0);
          var c1 = row.insertCell(1);
          var c2 = row.insertCell(2);
          var c3 = row.insertCell(3);

          c0.innerText = flight.callsign
          c1.innerText = flight.operator
          c2.innerText = flight.origin
          c3.innerText = flight.queue_entry_time


        }


      }
      //Reset the collapsables
      let activeCollapsables = document.getElementsByClassName("collapsible");
      for (let i = 0; i < activeCollapsables.length; i++) {
        if (activeCollapsables[i].classList.contains("active")) {
            let contentContainer = activeCollapsables[i].nextElementSibling;
            contentContainer.style.maxHeight = "none"; 
            contentContainer.style.maxHeight = contentContainer.scrollHeight + "px";
        }

      }


    } catch (e){
      console.error("Error in JSON parsing:",e,event.data)
    }

  };
} else {
  holdingpattern.innerHTML = "SSE Error";
}







//COLLAPSABLES

var collapsible = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < collapsible.length; i++) {
  collapsible[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.maxHeight){
      content.style.maxHeight = null;
    } else {
      content.style.maxHeight = content.scrollHeight + "px";
    }
  });
}
</script>

    
{% endblock %}