{% extends 'pages/base.html' %}

{% block content %}
    
<h2>Active Simulation</h2>
    


<div class="simulationcontainer">
  <div>
    <table>
        <caption>Take-Off Queue</caption>
        <tr>
            <th>Callsign</th>
            <th>Operator</th>
            <th>Destination</th>
            <th>Scheduled Departure Time</th>

        </tr>
        <tr>
            <td>Example Data</td>
            <td>Example Data</td>
            <td>Example Data</td>
            <td>Example Data</td>

        </tr>
        <tr>
            <td>Example Data</td>
            <td>Example Data</td>
            <td>Example Data</td>
            <td>Example Data</td>

        </tr>
    </table>
  </div>
  <div>
    <table>
        <caption>Landing Queue</caption>
        <tr>
            <th>Callsign</th>
            <th>Operator</th>
            <th>Origin</th>
            <th>Scheduled Arrival Time</th>
            <th>Altitude</th>
            <th>Fuel Remaining</th>
            <th>Emergency Status</th>
        </tr>
        <tr>
            <td>Example Data</td>
            <td>Example Data</td>
            <td>Example Data</td>
            <td>Example Data</td>
            <td>Example Data</td>
            <td>Example Data</td>
            <td>Example Data</td>
        </tr>
        <tr>
            <td>Example Data</td>
            <td>Example Data</td>
            <td>Example Data</td>
            <td>Example Data</td>
            <td>Example Data</td>
            <td>Example Data</td>
            <td>Example Data</td>
        </tr>
    </table>
  </div>
</div>




    
{% endblock %}